
.u-colorBlue
	background #1DA4DD


.Nav
	background #272727
	height 5.62em
	left 0
	position fixed
	right 0
	top 0

.Logo
	display inline-block
	height 5.62em
	padding 0 1em
	width 9.31em

.Logo-image
	margin 0 0 0 .3em
	padding 0

.MainMenu
	display inline-block
	float right
	margin-right 1.2em
	height 5.62em

.MainMenu-list
	margin 0
	padding 0

.MainMenu-item
	display inline-block

.MainMenu-link
	color white
	font-weight bold
	line-height 5.62em
	margin-left 1.5em
	text-decoration none

.Profile
	background-image url('../imagenes/profile.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	margin-top 5.62em
	padding-bottom 1.8em
	text-align center

.Profile-image
	margin 0

.Profile-imageImg
	border-radius 50%
	border 5px solid white
	height 250px
	margin-top 1.6em
	width 250px

.Profile-Title, .Profile-link
	color white

.Profile-Title
	font-weight bold
	font-size 2.2em
	margin 1em 0 .7em 0

.Profile-link
	border-radius 1em
	font-weight normal
	font-size 1.2em
	margin-right 1.3em
	padding .4em .8em
	text-decoration none
	&:hover
		opacity 0.9




/*
.Nav
	background blue
	position fixed
	top 0
	left 0
	right 0

.Header
	background red
	margin-top 9em
	text-align center
*/

